.main_container {
    height: 93vh;
}

.main__forms {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.forms__login, .forms__register {
    width: 80%;
}

.main__img img {
    width: 40rem;
    height: 100%;
}