.main_container {
    height: 93vh;
    display: flex;
    align-items: center;
}

.main__img {
    display: flex;
    align-items: center;
}

.main__img img {
    max-height: 500px;
}

.main__forms {
    height: 650px;
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .main__forms {
        background-color: #172a46;
        border-radius: 2rem;
    }
    
}

.forms__login, .forms__register {
    width: 80%;
}

.main__img img {
    width: 30rem;
    height: 100%;
}

form > p {
    font-weight: 600;
}

