.main_container {
    height: 93vh;
}

.main__forms {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.forms__login, .forms__register {
    width: 80%;
}

.main__img img {
    width: 30rem;
    height: 100%;
}

.bi-eye-fill {
    position: relative;
    bottom: 30px;
    left: 102%;
    color: gray;
    cursor: pointer;
}

form > p {
    font-weight: 600;
}

