* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
/* Footer */

.footer_container {
    height: 7vh;
    background-color: #f0f0f0;
}

.footer__author {
    color: gray;
    font-size: 0.8rem;
}

.footer__socials i {
    margin-left: 10px;
    font-size: 1.3rem;
    color: gray;
    transition: 100ms ease;
}

.footer__socials i:hover {
    color: #0d6efd;
    font-size: 1.4rem;
}

#msgError {
    font-size: .6rem;
    color: #ff5555;
    padding: .3rem;
    display: none;
}

#msgErrorLogin {
    font-size: .6rem;
    color: #ff5555;
    padding: .3rem;
    display: none;
}

#msgSuccess{
    font-size: .6rem;
    color: rgb(53, 184, 53);
    padding: .3rem;
    display: none;
}
