.header_container {
    height: 7vh;
    background-color: #172a46;
}

.main_container { 
    margin-top: 10vh;
}

.main__task-list {
    height: 100%;
    margin: 30px 0 10vh 0;
    font-size: .9rem;
}

.taskName {
    cursor: pointer;
}

.logoutButton {
    cursor: pointer;
    width: 60px;
    transition: 300ms ease;
    background-color: transparent;
    border-color: #54d4bc;
    font-weight: 500;
    color: #54d4bc;
}
.logoutButton:hover {
    background-color: #54d4bc;
    border-color: #54d4bc;
    color: #172a46;
}

#doneBtn {
    display: inline;
}